* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
div {
  display: flex;
}
:root{
  --1-color: #060606;
  --2-color: #151821;
  --3-color: #292f3e;
  --4-color: #42475e;
  --5-color: #5b5d85;

}
.site-wrapper {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5vh;
  background-color: var(--5-color);
  padding: 3vh 0;
  height: 100vh;
}
.mytitle {
  background-color:var(--2-color);
  font-size: 200%;
  border-radius: 12px;
  color: white;
  padding: 1.5%;
}
.container {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 5vh;
  width: 70%;
}
.content {
  align-items: center;
  width: 70%;
  background-color: var(--3-color);
  border-radius: 15px;
  padding: 2%;
  justify-content: center;
}
.content a {
  color: white;
  font-size: 160%;
  padding: 1.7em 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3% 4%;
  background-color: var(--4-color);
  border-radius: 15px;
  row-gap: 2vh;
}
form label {
  color: white;
}
input {
  background-color: lightgray;
  border-radius: 50em;
  padding: 1% 2%;
  color: var(--3-color);
  font-size: 110%;
  cursor:text;
}
table {
  width: 100%;
  overflow-x: auto;
}
table th{
  background-color: var(--1-color);
  color: white;
  padding: 10px;
}
table td {
  background-color: lightgray;
  color: var(--1-color);
  padding: 10px;
}
.myinput {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
  border-radius: 50%;
  justify-content: space-between;
  width: 80%;
}
.myinput select {
  width: 30%;
  border-radius: 50em 0 0 50em;
  padding: 1%;
  background-color: var(--5-color);
  color: var(--1-color);
  font-size: 100%;
  cursor: pointer;
}
.myinput input {
  background-color: lightgray;
  border-radius: 0 50em 50em 0;
  width: 70%;
  padding: 1%;
  color: var(--1-color);
}
.back a {
  background-color: var(--1-color);
  border-radius: 50em;
  font-size: 120%;
  text-align: center;
  border: none;
  padding: 15% 20%;
}

