*{
  margin:0;
}
nav {
  display: flex;
  flex-direction: row;
}
button {
  width: 100%;
  border-color: white;
  border-radius: 0;
  background-color: #4285f4;
  color: white;
}
.button-container {
  width: 100%;
}
#logo-container {
  display: flex;
  width: 40vw;
  height: 150px;
  justify-content: center;
  padding: 20px 0;
}
